html {
  height: 100vh;
  overflow: hidden;
}
.top-blc,
.mid-blc,
.bot-blc {
  padding: 30px;
  width: 100%;
  border: 1px #000 solid;
  border-radius: 20px;
  margin-bottom: 30px;
}

.mid-hd {
  display: flex;
  justify-content: space-between;
}

select {
  border-radius: 10px;
  padding: 3px 15px;
}

.mid-cnt {
  padding-left: 60px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  color: #000;
}

@media (max-width: 575.98px) {
  html {
    overflow: auto !important;
  }

  .bot-main {
    flex-direction: column !important;
    padding-left: 50px !important;
  }

  .bot-main a {
    padding-bottom: 20px !important;
  }

  .page-footer {
    display: none !important;
  }
}
