html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#app {
  position: relative;
  margin-bottom: 50px;
}

input {
  border: 1px #000 solid;
}

.login-form {
  position: relative;
}

.login-form > i {
  position: absolute;
  left: 70px;
  font-size: 18px;
}

.line1 {
  top: 160px;
}

.line2 {
  top: 223px;
}

.line3 {
  top: 287px;
}

.line4 {
  top: 352px;
}

.line5 {
  top: 415px;
}

.menu-item {
  font-size: 20px;
  padding-right: 10px;
}

.active {
  font-weight: bold;
}

.active::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  background: #fff;
  height: 3px;
  border-radius: 20px;
}

.card {
  border: 1px #000 solid;
}

#chart {
  height: 78vh;
}

.kpi-list {
  width: 100%;
  background-color: #74b9ff;
  border: 1px #000 solid;
  border-radius: 20px;
  margin: 0 0 30px 0;
  padding: 20px 30px 0;
}
.responsive {
  position: relative;
  padding-bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.kpi-list .item {
  display: flex !important;
  flex-direction: row;
  width: 13vw;
  padding: 0 10px;
  margin: 0 10px;
  height: 17vh;
  margin-bottom: 0;
  align-items: center;
  text-align: center;
  background-color: #fff;
  border: #000 1px solid;
  border-radius: 10px;
  justify-content: flex-end;
}

.item-lf {
  width: 3vw;
  height: 3vw;
  background-color: #57caeb;
  border-radius: 10px;
  font-size: 16px;
}

.item-rt {
  width: 10vw;
  justify-content: flex-start;
}

.slick-dot {
  position: absolute;
  top: -100px;
}

.des-main {
  height: 80vh;
  padding: 30px;
  border: 1px #000 solid;
  border-radius: 20px;
  overflow-y: auto;
}

.card-hd {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.des-hd {
  font-size: 24px;
  font-weight: 700;
}

.add-btn {
  padding: 5px 10px;
  border: 1px #000 solid;
  border-radius: 20px;
  transition: all ease-in-out 0.25s;
  cursor: pointer;
}

.add-btn:hover {
  background-color: #000;
  color: #fff;
}

.card-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.card-item-lf,
.card-item-rt {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-item-lf {
  width: 80%;
  margin-right: 10px;
  background-color: #74b9ff;
  padding: 0px 20px;
  border-radius: 20px;
  color: #000;
  font-size: 18px;
}

.card-item-rt {
  width: 20%;
  height: 37px;
  align-items: center;
}

.des-btn {
  padding: 3px 10px;
  border: 1px #000 solid;
  border-radius: 20px;
  transition: all ease-in-out 0.3s;
  font-size: 18px;
  cursor: pointer;
}

.des-btn i {
  padding-right: 5px;
}

.des-btn:hover {
  background-color: #000;
  color: #fff;
}

.des-hd {
  font-size: 24px;
  font-weight: 700;
  padding: 10px 20px 0 30px;
  position: relative;
}

.des-body {
  padding: 0 !important;
}

#calendar {
  width: 90%;
  margin: 5%;
}

.fc .fc-toolbar-title {
  font-size: 18px !important;
  text-transform: capitalize;
}

.fc-daygrid-body tr:last-child {
  display: none; /* Ẩn hàng cuối cùng của lịch */
}

.fc .fc-daygrid-day-events {
  display: none;
}

.fc-scroller {
  overflow: auto !important;
}

.table-borderless {
  font-size: 20px;
}

.marked-date {
  background-color: #ffd700;
  color: #000000;
  font-weight: bold;
}

.add-action-mockup,
.add-kpi-mockup {
  position: fixed;
  top: 10%;
  left: 40vw;
  z-index: 100;
  background-color: #fff;
  border: 1px #000 solid;
  border-radius: 20px;
  width: 30vw;
  height: 80vh;
  padding: 30px;
  color: #000;
}

.add-action-mockup .des-hd,
.add-kpi-mockup .des-hd {
  padding-left: 0;
  font-size: 25px;
}

.add-action-cnt {
  height: 80%;
  margin-bottom: 5%;
  /* overflow: auto; */
}

.action-hd {
  font-size: 23px;
  font-weight: bold;
}

.action-input {
  border: 1px #d5d5d5 solid;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 700;
  padding: 5px 20px;
  width: 100%;
  margin-bottom: 10px;
}

.quest-cnt {
  height: 50%;
  overflow: auto;
}

.quest-item {
  display: flex;
  flex-direction: row;
}

.quest-item-lf {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 5px 10% 5px 0;
  justify-content: space-between;
}

.item-lf-dis {
  padding: 3px 12px;
  background-color: #fbdfdf;
  border-radius: 20px;
  border: #000 1px solid;
}

.quest-item input {
  width: 40%;
}

.add-action-bot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.close-btn {
  background-color: #000;
  border-radius: 15px;
  padding: 3px 15px;
  color: #fff;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  border: 1px #000 solid;
}

.close-btn:hover {
  background-color: #fff;
  color: #000;
}

.save-btn {
  background-color: #3950a2;
  color: #fff;
  padding: 3px 15px;
  border-radius: 15px;
  cursor: pointer;
  border: 1px #3950a2 solid;
}

.hide {
  display: none;
}

.page-title {
  padding: 0px 110px;
}

.avatar-2xl img {
  width: 200px;
  height: 200px;
}

.header-top {
  padding: 10px !important;
}

.slick-active .col-6,
.slick-active .slide-item {
  margin-left: 2.5%;
  width: 95% !important;
  overflow: hidden;
  height: 135px;
}

.slick-track {
  height: 135px;
  overflow: hidden;
}

.kpi-list-hd {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.hd-lf {
  font-size: 16px;
  background-color: #fbdfdf;
  padding: 5px 10px;
  border: 1px #000 solid;
  border-radius: 20px;
  color: #000;
  font-weight: 700;
}

.hd-rt {
  color: #000;
}

.hd-rt span {
  font-size: 16px;
  padding-right: 20px;
  font-weight: 700;
}

.slide-item {
  /* border: #000 1px solid; */
  width: 20%;
  background-color: #57caeb;
  padding: 5px 15px;
  border-radius: 20px;
  color: #000;
}

.item-top,
.item-cnt {
  display: flex;
  justify-content: space-between !important;
  margin-bottom: 20px;
}

.item-bot {
  display: flex;
  justify-content: space-between !important;
}

.done {
  background-color: #33e9ab;
}

.doing {
  background-color: #fffba0;
}

.past-due {
  background-color: #fbdfdf;
}

.comming {
  background-color: #fbdfdf;
}

.page-hd {
  display: flex;
  flex-direction: row;
  justify-content: space-between !important;
  margin-bottom: 30px;
}

.page-hd a {
  margin-right: 10px;
  cursor: pointer;
}

.blc-hd {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.blc-hd-lf {
  font-size: 20px;
  font-weight: 700;
}

.blc-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5px;
}

.blc-cnt {
  height: 20vh;
  margin-bottom: 2vh;
  overflow: auto;
}
