/* important */
.layout-horizontal .main-navbar {
  background-color: #379ffa;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 5px;
  position: sticky;
  top: 0;
}

#main.layout-horizontal {
  padding: 0;
  margin: 0;
  background-color: rgba(202, 244, 255, 0.3);
}
/*  */

html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#app {
  position: relative;
  margin-bottom: 50px;
}

input {
  border: 1px #000 solid;
}

.login-form {
  position: relative;
}

.login-form > i {
  position: absolute;
  left: 70px;
  font-size: 18px;
}

.line1 {
  top: 160px;
}

.line2 {
  top: 223px;
}

.line3 {
  top: 287px;
}

.line4 {
  top: 352px;
}

.line5 {
  top: 415px;
}

.menu-item {
  font-size: 20px;
  padding-right: 10px;
}

.active {
  font-weight: bold;
}

.active::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  background: #fff;
  height: 3px;
  border-radius: 20px;
}

.card {
  border: 1px #000 solid;
}

#chart {
  height: 78vh;
}

.kpi-list {
  width: 100%;
  background-color: #5ab2ff;
  border: 1px #000 solid;
  border-radius: 20px;
  margin: 0 0 30px 0;
  padding: 20px 30px 0;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 5px;
}
.responsive {
  position: relative;
  padding-bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.kpi-list .card-body {
  cursor: pointer;
}

.kpi-list .item {
  display: flex !important;
  flex-direction: row;
  width: 13vw;
  padding: 0 10px;
  margin: 0 10px;
  height: 17vh;
  margin-bottom: 0;
  align-items: center;
  text-align: center;
  background-color: #fff;
  border: #000 1px solid;
  border-radius: 10px;
  justify-content: flex-end;
}

.item-lf {
  width: 3vw;
  height: 3vw;
  background-color: #57caeb;
  border-radius: 10px;
  font-size: 16px;
}

.item-rt {
  width: 10vw;
  justify-content: flex-start;
}

.des-main {
  background-color: #fff;
  height: 80vh;
  padding: 30px;
  border: 1px #000 solid;
  border-radius: 20px;
  overflow-y: auto;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 5px;
}

.card-hd {
  /* width: 100% !important; */
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
}

.des-hd {
  font-size: 24px;
  font-weight: 700;
}

.add-btn {
  background-color: #fff;
  padding: 3px 6px;
  border: 1px #000 solid;
  border-radius: 20px;
  transition: all ease-in-out 0.25s;
  cursor: pointer;
}

.add-btn:hover {
  background-color: #000;
  color: #fff;
}

.card-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.card-item-lf,
.card-item-rt,
.card-item-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-item-lf {
  width: 100%;
  margin-right: 10px;
  background-color: #74b9ff;
  padding: 0px 20px;
  border-radius: 20px;
  color: #000;
  font-size: 18px;
}

.card-item-rt {
  width: 10%;
  height: 37px;
  align-items: center;
}

.card-item-right {
  width: 10%;
  height: 37px;
  align-items: center;
}

.des-btn {
  padding: 3px 5px;
  border: 1px #000 solid;
  border-radius: 20px;
  transition: all ease-in-out 0.3s;
  /* font-size: 18px; */
  cursor: pointer;
}

.des-btn i {
  padding-right: 5px;
}

.des-btn:hover {
  background-color: #000;
  color: #fff;
}

.des-hd {
  font-size: 24px;
  font-weight: 700;
  padding: 10px 20px 0 30px;
  position: relative;
}

.des-body {
  padding: 0 !important;
}

#calendar {
  width: 90%;
  margin: 5%;
}

.fc .fc-toolbar-title {
  font-size: 18px !important;
  text-transform: capitalize;
}

.fc-daygrid-body tr:last-child {
  display: none; /* Ẩn hàng cuối cùng của lịch */
}

.fc .fc-daygrid-day-events {
  display: none;
}

.fc-scroller {
  overflow: auto !important;
}

.table-borderless {
  font-size: 20px;
}

.marked-date {
  background-color: #ffd700;
  color: #000000;
  font-weight: bold;
}

.add-action-mockup,
.add-kpi-mockup {
  position: fixed;
  top: 10%;
  left: 35vw;
  z-index: 100;
  background-color: #fff;
  border: 1px #000 solid;
  border-radius: 20px;
  width: 30vw;
  height: 80vh;
  padding: 30px;
  color: #000;
}

.add-action-mockup .des-hd,
.add-kpi-mockup .des-hd {
  padding-left: 0;
  font-size: 25px;
}

.add-action-cnt {
  height: 80%;
  margin-bottom: 5%;
  /* overflow: auto; */
}

.action-hd {
  font-size: 23px;
  font-weight: bold;
}

.action-input {
  border: 1px #d5d5d5 solid;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 700;
  padding: 5px 20px;
  width: 100%;
  margin-bottom: 10px;
}

.quest-cnt {
  height: 35vh;
  overflow: auto;
}

.quest-item {
  display: flex;
  flex-direction: row;
}

.quest-item-lf {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 5px 10% 5px 0;
  justify-content: space-between;
}

.item-lf-dis {
  padding: 3px 12px;
  background-color: #fff;
  border-radius: 20px;
  border: #000 1px solid;
}

.quest-item input {
  width: 40%;
}

.add-action-bot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.close-btn {
  background-color: #000;
  border-radius: 15px;
  padding: 3px 15px;
  color: #fff;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  border: 1px #000 solid;
}

.close-btn:hover {
  background-color: #fff;
  color: #000;
}

.save-btn {
  background-color: #3950a2;
  color: #fff;
  padding: 3px 15px;
  border-radius: 15px;
  cursor: pointer;
  border: 1px #3950a2 solid;
}

.hide {
  display: none;
}

.page-title {
  padding: 0px 110px;
}

.avatar-2xl img {
  width: 200px;
  height: 200px;
}

.header-top {
  padding: 10px !important;
}

.slick-active .col-6,
.slick-active .slide-item {
  margin-left: 2.5%;
  width: 95% !important;
  /* overflow: hidden; */
  height: 135px;
}

.slick-track {
  height: 152px;
  /* overflow: hidden; */
}

.kpi-list-hd {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.hd-lf {
  font-size: 16px;
  background-color: #62b4ff;
  filter: brightness(110%);
  padding: 5px 10px;
  border: 1px #000 solid;
  border-radius: 20px;
  color: #000;
  font-weight: 700;
}

.hd-rt {
  color: #000;
}

.hd-rt span {
  font-size: 16px;
  padding-right: 20px;
  font-weight: 700;
}

.slide-item {
  /* border: #000 1px solid; */
  width: 20%;
  filter: brightness(110%);
  background-color: #62b4ff;
  border: 1px #000 solid;
  padding: 5px 15px;
  border-radius: 20px;
  color: #000;
  cursor: pointer;
}

.item-top,
.item-cnt {
  display: flex;
  justify-content: space-between !important;
  margin-bottom: 20px;
}

.item-bot {
  display: flex;
  justify-content: space-between !important;
}

.page-hd {
  display: flex;
  flex-direction: row;
  justify-content: space-between !important;
  margin-bottom: 30px;
}

.page-hd a {
  margin-right: 10px;
  cursor: pointer;
}

.blc-hd {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.blc-hd-lf {
  font-size: 20px;
  font-weight: 700;
}

.blc-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5px;
}

.blc-cnt {
  height: 20vh;
  margin-bottom: 2vh;
  overflow: auto;
}

.slick-next,
.slick-prev {
  display: none;
}

.gray-bg,
.options-gray-bg,
.action-gray-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #d5d5d5;
  opacity: 0.75;
  z-index: 1;
}

.des-main-res2 {
  display: none;
}

.name-card {
  margin-bottom: 22px !important;
}

.des-main .form-check {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.fc-bg-event.custom-background {
  background-image: url("../img/svg/noti.svg") !important;
  background-color: transparent !important;
  background-size: contain !important;
  /* background-repeat: no-repeat !important; */
  /* background-position: center !important; */
}

.fc .fc-daygrid-day-frame {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fc-daygrid-day-number {
  text-align: center !important; /* Căn giữa các số trong ngày */
}

.cl-blue {
  background-color: #5ab2ff;
}

.custom-tooltip[data-bs-toggle="tooltip"] {
  white-space: pre-line; /* Cho phép xuống dòng khi gặp ký tự xuống dòng */
}

/* Extra small devices (portrait phone, less than 576px) */
@media (max-width: 575.98px) {
  .row .col-md-4 {
    display: none !important;
  }

  .col-6 .row {
    justify-content: space-between !important;
    flex-direction: row !important;
  }

  #chart {
    height: 350px;
  }

  .logo {
    display: none;
  }

  .name-card {
    display: none;
  }

  .header-top-right {
    width: 100%;
    justify-content: space-between !important;
    flex-direction: row-reverse;
  }

  .page-hd {
    flex-direction: column;
  }

  .page-hd-lf {
    display: flex;
    margin-bottom: 10px;
  }
  .mb-5 {
    margin-bottom: 30px !important;
  }

  .kpi-list-hd {
    flex-direction: column;
  }

  .hd-lf {
    text-align: center;
    width: 100%;
  }

  .hd-rt {
    justify-content: space-between !important;
  }
  .hd-rt span {
    width: 33.3%;
    padding-right: 10px;
  }
  .sp1 {
    text-align: end;
  }

  .add-action-mockup,
  .add-kpi-mockup {
    width: 95%;
    left: 2.5%;
    height: 600px;
  }

  .add-action-mockup .add-btn,
  .add-kpi-mockup .add-btn {
    width: 50% !important;
  }

  .quest-cnt {
    height: 250px;
  }

  .options-mockup {
    color: #000;
    width: 95% !important;
    left: 2.5% !important;
    height: 265px !important;
    z-index: 50;
  }
  .des-hd .fa-x {
    padding-left: 70px !important;
  }

  .quest-item input {
    width: 45% !important;
  }

  .add-kpi-mockup .add-btn {
    width: 100% !important;
  }

  .blc-cnt-lf {
    width: 50%;
  }

  .item-lf-dis {
    width: 100%;
  }

  .blc-cnt {
    height: 160px;
  }

  .calender-row {
    flex-direction: column-reverse;
  }

  .fc-toolbar-chunk {
    flex-direction: column;
    display: flex;
    justify-content: flex-end !important;
  }

  .fc-today-button {
    display: none !important;
  }
  .des-main-res1 {
    display: none;
  }
  .des-main-res2 {
    display: block !important;
    height: 350px !important;
    margin-bottom: 20px;
  }

  .card-item-lf {
    width: 100% !important;
  }

  .card-item-rt {
    width: 5% !important;
  }

  .card-item-right {
    width: 25% !important;
  }

  .trending {
    margin-bottom: 20px !important;
  }

  .mid-blc .hd,
  .bot-blc .hd {
    margin-left: 0 !important;
  }
  .mid-cnt {
    padding: 0 !important;
  }

  option {
    font-size: 14px;
    margin-left: -10px !important;
  }

  h3 {
    font-size: 40px !important;
    text-align: center;
  }

  .sp-input {
    width: 80% !important;
  }

  .secu-h3 {
    font-size: 30px !important;
    text-align: left;
  }

  .page-title {
    padding: 12px !important;
  }
  .nav-respon h3 {
    font-size: calc(1.3rem + 0.6vw) !important;
  }

  .secu-h3 {
    font-size: 1.5em !important;
  }
}
