* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

ul {
  list-style: none;
}

.zoom {
  overflow: hidden;
}

.zoom img {
  transition: all ease-in-out 0.3s;
}

.zoom img:hover {
  transform: scale(1.1);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

/* begin pc */

/* heading-min */
.hcontent {
  width: 100vw;
  padding: 8px 50px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.hcontent i {
  cursor: pointer;
}

#heading-min {
  display: none;
  background-color: #000;
  height: 64px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

#heading-min .collapse {
  z-index: 2;
}

#heading-min i {
  padding-top: 20px;
}

#heading-min img {
  width: 80px;
  height: 50px;
}

#heading-min button {
  color: #fff;
  background-color: #000;
  border: none;
}

#nav-respon {
  background-color: #000;
  position: absolute;
  top: 96%;
  left: 0;
  width: 100vw;
  height: 95vh;
  z-index: 1000;
  display: none;
}

#nav-respon ul {
  flex-direction: column;
}

#nav-respon ul a {
  font-size: 17px;
  font-weight: 600;
  color: #ffffff99;
  transition: all ease-in-out 0.2s;
}

#nav-respon ul a:hover {
  color: #ffffff;
}

#nav-respon ul li {
  padding: 15px 0;
  border-bottom: 2px solid #424347;
}

/* end: heading-min */

#heading {
  position: fixed;
  background: #379ffa;
  background: linear-gradient(180deg, #379ffa 0%, rgba(255, 255, 255, 0) 100%);
  padding: 8px 50px;
  width: 100vw;
  height: 72px;
  display: flex;
  z-index: 2;
  top: -1px;
}

#heading .logo {
  margin: 8px;
  width: 80px;
  height: 50px;
}

.nav-list {
  display: flex;
  padding-left: 0;
}

#heading #nav .nav-item a {
  color: hsla(0, 0%, 100%, 0.6);
  padding: 8px 18px;
  line-height: 34px;
  text-align: center;
  transition: all ease-in-out 0.5s;
  text-decoration: none;
  line-height: 56px;
}

#heading #nav .nav-item:hover a {
  color: #fff;
}

.sign-in-button {
  margin-top: 5px;
  margin-right: 3vw;
  position: absolute;
  display: block;
  right: 40px;
  top: 12px;
  color: #fff;
  background: #000;
  border: #fff solid 1px;
  height: 40px;
  width: 124px;
  font-size: 16px;
  border-radius: 50px;
  transition: all ease-in-out 0.5s;
  text-decoration: none;
  line-height: 35px;
  text-align: center;
}

.sign-in:hover .sign-in-button {
  color: #000;
  background: #fff;
  cursor: pointer;
}

#slider {
  z-index: 0;
  width: 100%;
  background: #000;
}

.carousel {
  position: relative;
}

#slider .carousel .dis {
  position: absolute;
  top: 200px;
  left: 150px;
  width: 35%;
  color: #fff;
}

#slider .carousel .dis img {
  width: 100%;
}

.slide-res {
  display: none !important;
}

.regis-button {
  background-color: #fff;
  width: 50%;
  /* height: 56px; */
  border-radius: 25px;
  font-size: 24px;
  font-weight: 700;
  margin-top: 40px;
  margin-left: 25%;
  line-height: 56px;
  text-align: center;
  transition: all ease-in-out 0.5s;
}

.regis-button a {
  color: #000;
  text-decoration: none;
  transition: all ease-in-out 0.5s;
}

.regis-button:hover {
  color: #000;
  text-decoration: none;
  background-color: #dde2e5;
  cursor: pointer;
}

.regis-line {
  display: block;
  color: #fff;
  font-size: 18px;
  padding-top: 30px;
  text-decoration: none;
  font-weight: 700;
  width: 100%;
  text-align: center;
}

.regis-line:hover {
  text-decoration: underline;
  color: #fff;
}

#content {
  background: #000;
  width: 100%;
  border-bottom: #424347 8px solid;
}

#content > .justify-content1 {
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
}

#content .heading {
  width: 100%;
  color: #fff;
  font-weight: 700;
  font-size: 38px;
  margin-bottom: 36px;
  line-height: 55px;
}

.justi-left-block {
  display: flex;
  width: 45%;
  margin-top: 7vh;
  flex-direction: column;
}

.justi-des {
  padding: 0;
}

.justi-des-item {
  color: #a9aaad;
  font-size: 19px;
  margin-bottom: 16px;
  padding: 0;
}

.regis-btn {
  background-color: #000;
  width: 190px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  border: #fff solid 2px;
  border-radius: 25px;
  font-size: 16px;
  margin-top: 40px;
  transition: all ease-in-out 0.5s;
}

.regis-btn a {
  color: #fff;
  text-decoration: none;
  transition: all ease-in-out 0.5s;
}

.regis-btn:hover {
  text-decoration: none;
  background-color: #dde2e5;
  cursor: pointer;
}

.regis-btn:hover a {
  color: #000;
}

.des {
  color: #a9aaad;
  font-size: 18px;
  margin: 50px 0 20px 0;
}

.partner-img-top {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.partner-img-bot {
  margin-top: 10px;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.partner-img {
  /* display: flex; */
  height: 61px;
}

.partner-img2 {
  /* display: flex; */
  height: 38px;
}

.justi-right-block {
  margin-top: 10vh;
  display: flex;
  width: 55%;
  justify-content: center;
}
.img-row1 {
  width: 30%;
}

.row1-3 {
  width: 100%;
  padding: 12px 12px;
  border-radius: 30px;
  display: block;
}

.img-row2 {
  width: 30%;
  margin-top: 20px;
}
.row2 {
  width: 100%;
  padding: 12px 12px;
  border-radius: 30px;
  display: block;
}

.img-row3 {
  width: 30%;
}

#content > .justify-content2 {
  display: flex;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 100px;
  margin-bottom: 50px;
}

.justi-left-block2 {
  color: #fff;
  width: 50%;
  flex-direction: column;
}

#content .justi-left-block2 span {
  font-size: 80px;
  font-weight: 700;
}

#content .justi-left-block2 p {
  font-size: 18px;
  font-weight: 500;
}

#content .justi-left-block2 h3 {
  font-size: 32px;
  font-weight: 700;
  padding-left: 20px;
  text-align: top;
}

#content .justi-left-block2 h3 {
  display: inline-block;
}

#content .justi-right-block2 {
  width: 50%;
}

#content .justi-right-block2 img {
  width: 100%;
  padding-top: 100px;
}

.head-block {
  margin-top: 50px;
  width: 100%;
}

.head-block .tittle {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  width: 100%;
  display: block;
}

.justify-content3 {
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
}

.justify-content3 .justi-left-block3 {
  width: 50%;
  margin-top: 30px;
}

.js-img-3 {
  width: 100%;
  border-radius: 20px;
}

.js-img-3 img {
  width: 100%;
}

.js3-dis {
  margin-top: 20px;
  color: #fff;
  width: 100%;
}

.js3-dis h3 {
  font-size: 24px;
  font-weight: 700;
  display: inline-block;
  width: 30%;
}

.js3-dis > span {
  background-color: #f8d720;
  font-size: 28px;
  font-weight: 700;
  color: #000;
  border-radius: 10px;
  padding: 0 10px;
  display: inline-block;
  margin-left: 20px;
}

.js3-dis p {
  padding-top: 20px;
  font-size: 18px;
  color: #a9aaad;
}

.js3-dis p span {
  color: #fff;
  font-weight: 700;
}

.justify-content3 .justi-right-block3 {
  width: 50%;
  margin-top: 30px;
  margin-left: 50px;
}

.justify-content4 {
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
}
.justi-left-block4 {
  width: 35%;
}

.justi-left-block4 img {
  padding-top: 10vh;
  width: 100%;
}

.justi-right-block4 {
  width: 65%;
  margin-top: 40vh;
  margin-left: 6%;
}

.js-tittle {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 36px;
}

.js-dis-p {
  color: #a9aaad;
  font-size: 18px;
  margin-bottom: 16px;
}

.justify-content5 {
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
}

.justi-left-block5 {
  margin-top: 30vh;
  width: 45%;
}

.justi-right-block5 {
  width: 55%;
  margin-top: 10vh;
}

.justi-right-block5 img {
  width: 100%;
}

.contact {
  height: 25vh;
  display: flex;
  padding-left: 60px;
  padding-right: 60px;
  flex-direction: column;
}

.contact p {
  color: #fff;
  text-align: center;
  font-size: 20px;
  width: 100%;
}

.contact .line1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  overflow: hidden;
}
.contact .line1 img {
  height: 6vh;
}

.contact .line2 {
  display: flex;
  justify-content: space-evenly;
  overflow: hidden;
}

.contact .line2 img {
  height: 6vh;
}

.justify-content6 {
  padding: 0 10%;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 50px;
  flex-direction: column;
}

.justify-content6 img {
  padding: 30px;
  padding-left: 12%;
  padding-right: 12%;
  width: 100%;
}

.justify-content6 p,
.justify-content6 h2 {
  padding: 5px 65px;
}

#footer {
  padding-top: 50px;
  background: #000;
  overflow: hidden;
}

#footer .logo {
  width: 127px;
  height: 64px;
  margin-left: 10%;
}

#footer .block {
  display: flex;
  margin-left: 10%;
  padding-top: 20px;
}

.block1-2,
.block3-4 {
  display: flex;
}

#footer .block .block1 {
  width: 392px;
  height: 238px;
}

#footer .block .block1 span {
  color: #fff;
  font-size: 16px;
  padding-bottom: 10px;
  display: block;
}

#footer .block .block2,
#footer .block .block3 {
  width: 186px;
  height: 238px;
  padding-left: 15px;
}

#footer h4 {
  color: #fff;
  font-size: 16px;
  padding-bottom: 15px;
}

#footer a,
#footer li {
  text-decoration: none;
  color: #a9aaad;
  list-style: none;
  font-size: 14px;
  padding-bottom: 10px;
  display: block;
}

#footer .block .block4 {
  margin-left: 10px;
  width: 391px;
  height: 238px;
}

#footer .block .block4 .line1 {
  display: flex;
}

#footer .block .block4 .line1 img {
  width: 136px;
  height: 40px;
  padding-right: 16px;
  margin-bottom: 20px;
}

#footer .block .block4 .line2 {
  display: flex;
  justify-content: left;
}

#footer .block .block4 .line2 img {
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

#footer .noti {
  width: 133px;
  height: 51px;
  margin-left: 10%;
  margin-top: 2%;
}

.active,
#heading #nav .active a {
  font-weight: bold;
  color: #ffffff;
}

/* end pc */

/* Medium pc screen */
@media (max-width: 1199.98px) {
  .js3-dis span,
  .js3-dis h3 {
    font-size: 17px;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  #heading {
    display: none;
  }

  #heading-min {
    display: block;
  }

  .dis {
    margin-top: 300px;
  }

  .d-block.w-100 {
    height: 100vh;
    width: 180vw;
  }

  .regis-button {
    margin-top: 5%;
    margin-left: 0;
    width: 100%;
  }

  .justify-content1,
  .justify-content2,
  .justify-content3,
  .justify-content5 {
    flex-direction: column;
  }

  .justi-left-block,
  .justi-right-block,
  .justi-left-block4,
  .justi-right-block4,
  .justi-left-block5,
  .justi-right-block5 {
    margin-top: 10vh;
    margin-left: 0;
    padding-left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .justi-left-block2,
  #content .justi-right-block2 {
    width: 100%;
    padding-left: 10vh;
    padding-right: 10vh;
  }

  #content .justi-right-block2 img {
    width: 100%;
    padding-top: 10%;
    margin-left: 0;
  }

  #content .justi-left-block3,
  #content .justi-right-block3 {
    width: 100%;
    margin-left: 0;
  }

  .js3-dis > span,
  .js3-dis h3 {
    font-size: 28px;
  }

  .justify-content4 {
    flex-direction: column-reverse;
  }

  .justify-content6 {
    padding: 0;
  }

  .block1-2 {
    flex-direction: column;
  }

  .block3-4 {
    flex-direction: column-reverse;
  }

  #footer .block {
    margin-left: 50px;
  }

  .block2,
  .block3 {
    margin-top: 30px;
  }

  #footer .noti {
    margin-top: -150px;
  }

  .js4-dis,
  .js5-dis {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  #content .justi-right-block2 img {
    width: 90vw;
    margin-left: -22vh;
  }

  .contact {
    height: 30vh;
    overflow: hidden;
    margin-bottom: 10vh;
  }

  .contact .line1,
  .contact .line2 {
    height: 10vh;
  }

  .block {
    flex-direction: column;
  }

  .block3-4 {
    flex-direction: column;
    padding-left: -100px;
  }

  .block4,
  .block3 {
    margin-top: -100px;
    color: red;
  }

  #footer .noti {
    margin-top: -40px;
  }
}

/* Extra small devices (portrait phone, less than 576px) */
@media (max-width: 575.98px) {
  .d-block.w-100 {
    overflow: hidden;
    scale: 1.2;
  }

  .non-res {
    display: none !important;
  }

  .slide-res {
    margin-top: 80px;
    display: block !important;
  }

  .dis {
    margin-top: 130px;
    margin-left: -100px;
    width: 70%;
  }

  .dis .regis-button {
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    padding-bottom: 0;
  }

  .justi-left-block2 {
    padding: 0;
  }

  .justi-left-block2 h3 {
    font-size: 27px;
  }

  .justify-content2 .justi-right-block2 img {
    display: none;
  }

  .contact {
    display: none;
  }

  .justify-content6 .js-tittle {
    padding: 0 5px;
    font-size: 32px;
  }

  .justify-content6 img,
  .justify-content6 p {
    padding: 40px 10px;
  }

  #footer .block {
    margin: 0 10px;
  }
}

.position-relative {
  position: relative;
  height: 300px; /* Adjust as needed */
  border: 1px solid #ccc;
}
.bottom-0 {
  position: absolute;
  top: 0;
  width: 100%; /* Optional: Adjust width as needed */
}

.carousel {
  width: 100vh;
  height: 100vh;
}

.carousel img {
  display: block;
  width: 100vh;
}
